{% load review %}
<table class="comparison">
	{% for row in comparisons %}
	<tr>
		{% for comparison in row.matches %}
			{% if forloop.first %}
				{% if comparison.submission_a.id == row.submission_id %}
					{% student_td course comparison %}
					{% student_td course comparison True %}
				{% else %}
					{% student_td course comparison True %}
					{% student_td course comparison %}
				{% endif %}
			{% else %}
				{% if comparison.submission_a.id == row.submission_id %}
					{% student_td course comparison True %}
				{% else %}
					{% student_td course comparison %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
</table>
