{% extends 'base.html' %}
{% block content %}

<form id="review" class="btn-group pull-right" method="post" action="{% url 'comparison' course_key=course.key exercise_key=exercise.key ak=comparison.submission_a.student.key bk=comparison.submission_b.student.key ck=comparison.pk %}">
	<button type="button" name="review" value="{{ comparison.review }}"
		data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle">
		<span class="text">{{ comparison.review_name }}</span> <span class="caret"></span>
	</button>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	<ul class="dropdown-menu" role="menu">
		{% for opt in comparison.review_options %}
		<li><a href="#" data-review="{{ opt.value }}" data-class="{{ opt.class }}">{{ opt.name }}</a></li>
		{% endfor %}
	</ul>
</form>

{% include 'review/_comparisontable.html' %}

<div class="code-comparison"{% if reverse %} data-reverse{% endif %}>
	{% if a.provider_url %}<a href="{{ a.provider_url }}" target="_blank" class="provider">{{ a.provider_url }}</a>{% endif %}
	{% if b.provider_url %}<a href="{{ b.provider_url }}" target="_blank" class="provider">{{ b.provider_url }}</a>{% endif %}
	<pre class="code-a code-view">{{ source_a }}</pre>
	<pre class="code-b code-view">{{ source_b }}</pre>
	<pre class="matches json">{{ comparison.matches_json }}</pre>
	<pre class="template-a json">{{ a.template_comparison.matches_json }}</pre>
	<pre class="template-b json">{{ b.template_comparison.matches_json }}</pre>
	<pre class="indexes-a json">{{ a.indexes_json }}</pre>
	<pre class="indexes-b json">{{ b.indexes_json }}</pre>
</div>

<div class="highlighting-legend">
	<dl class="dl-horizontal">
		<dt><pre class="sample-highlight hljs"><span class="source"><a class="template">No highlighting</a></span></pre></dt>
		<dd>matches exercise template</dd>
		<dt><pre class="sample-highlight hljs"><span class="source"><a>White/Gray</a></span></pre></dt>
		<dd>unique content</dd>
		<dt><pre class="sample-highlight hljs"><span class="source"><a class="match">Yellow</a></span></pre></dt>
		<dd>consecutive, matching syntax tokens</dd>
		<dt><pre class="sample-highlight hljs"><span class="source"><a class="match exact">Orange</a></span></pre></dt>
		<dd>exact character match</dd>
	</dl>
</div>

<pre id="similarity" class="json">{{ exercise.submissions_max_similarity_json }}</pre>

<pre id="js" class="well">
Waiting for Javascript...
</pre>
<script>
$(function() {
	var js = new JS();
	js.quickReview($('#review'));
	js.codeview($('div.code-comparison'));
	var similarity = js.parseJSON($('#similarity'));
	js.buildHeat(similarity);
	js.applyHeat($('table.comparison'))
});
</script>

{% endblock %}
