{% extends 'base.html' %}
{% block content %}

<div>
    <h3>Similarity distribution of all submitted source code strings by exercise</h3>
    <br>
    <p>The similarity of two submissions is represented as a float in the range [0.0, 1.0], where 0 denotes disjoint syntax token sets for the submission pair, and 1 denotes equal syntax token sets.</p>
</div>

<ul class="course-histograms">
	{% for exercise in exercises %}
	<li class="well well-sm{% if exercise.paused %} paused{% endif %}">
		<p><a href="{% url 'exercise' course_key=course.key exercise_key=exercise.key %}">{{ exercise.name }}:
		Submissions {{ exercise.submissions.count }} ({{ exercise.valid_matched_submissions.count }} matched)</a></p>
		<div class="histogram">
			<pre class="json">{{ exercise.submissions_max_similarity_json }}</pre>
		</div>
	</li>
	{% endfor %}
</ul>

<pre id="js" class="well">
Waiting for Javascript...
</pre>
<script>
$(function() {
	var js = new JS();
	$("div.histogram").each(function() {
		var similarity = js.parseJSON($(this).find("pre.json"));
		js.buildHeat(similarity);
		js.histogram($(this), similarity, 400, 80);
	});
});
</script>

{% endblock %}
