{% extends 'base.html' %}
{% block content %}

<div>
    <h4>Similarity distribution of all submissions for each exercise. Similarity is represented in the range [0, 1], where 0 means disjoint strings and 1 means equal strings.</h4>
</div>

<ul class="course-histograms">
	{% for exercise in exercises %}
	<li class="well well-sm{% if exercise.paused %} paused{% endif %}">
		<p><a href="{% url 'exercise' course_key=course.key exercise_key=exercise.key %}">{{ exercise.name }}:
		Submissions {{ exercise.submissions.count }} ({{ exercise.matched_submissions.count }} matched)</a></p>
		<div class="histogram">
			<pre class="json">{{ exercise.submissions_max_similarity_json }}</pre>
		</div>
	</li>
	{% endfor %}
</ul>

<pre id="js" class="well">
Waiting for Javascript...
</pre>
<script>
$(function() {
	var js = new JS();
	$("div.histogram").each(function() {
		var similarity = js.parseJSON($(this).find("pre.json"));
		js.buildHeat(similarity);
		js.histogram($(this), similarity, 400, 80);
	});
});
</script>

{% endblock %}
