{% extends 'base.html' %}
{% block content %}

<p>
	<a href="{% url 'course_histograms' course_key=course.key %}" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-stats"></span> Exercise histograms
	</a>
	<a href="{% url 'marked_submissions' course_key=course.key %}" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-flag"></span> Marked submissions
	</a>
</p>


<table class="table">
	<tr>
		<th>Exercise</th>
		<th>Created</th>
		<th>Students</th>
		<th>Submissions</th>
		<th>Template</th>
		<th>Min. match</th>
		<th>Tokenizer</th>
		<th></th>
		<th></th>
	</tr>
	{% for exercise in exercises %}
	<tr{% if exercise.paused %} class="paused"{% endif %}>
		<td><a href="{% url 'exercise' course_key=course.key exercise_key=exercise.key %}">{{ exercise.name }}</a></td>
		<td>{{ exercise.created|date:"Y-m-d" }}</td>
		<td>{{ exercise.student_count }}</td>
		<td>{{ exercise.submissions.count }} ({{ exercise.matched_submissions.count }} matched{% if exercise.paused %}, paused{% endif %})</td>
		<td>{{ exercise.template_length }} tokens</td>
		<td>{{ exercise.minimum_match_tokens }} tokens</td>
		<td>{{ exercise.tokenizer_name }}</td>
		<td><a href="{% url 'exercise_settings' course_key=course.key exercise_key=exercise.key %}" class="btn btn-default btn-xs">
			<span class="glyphicon glyphicon-wrench"></span> Settings</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
