{% extends 'base.html' %}
{% block content %}

<div>
    <h3>Similarity distribution of all submitted source code strings</h3>
    <br>
</div>

<div>
    <h4>Available similarity functions</h4>
    <p>Similarity of two strings is represented as a floating point number in the range [0, 1], where 0 denotes disjoint strings and 1 equal strings.
    Results from different similarity functions is currently aggregated into a single, maximum weighted similarity.
    In other words, when comparing two submissions, and one of the functions produces a higher weighted similarity than all other functions, then this similarity will be taken as the similarity of the comparison.</p>
    <table class="table table-condensed table-striped">
        <tr>
            <th>Function</th>
            <th>Description</th>
            <th>Weight</th>
        </tr>
        {% for function in similarity_functions %}
        <tr>
            <td>{{ function.name }}</td>
            <td>{{ function.description }}</td>
            <td>{{ function.weight }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<ul class="course-histograms">
	{% for exercise in exercises %}
	<li class="well well-sm{% if exercise.paused %} paused{% endif %}">
		<p><a href="{% url 'exercise' course_key=course.key exercise_key=exercise.key %}">{{ exercise.name }}:
		Submissions {{ exercise.submissions.count }} ({{ exercise.matched_submissions.count }} matched)</a></p>
		<div class="histogram">
			<pre class="json">{{ exercise.submissions_max_similarity_json }}</pre>
		</div>
	</li>
	{% endfor %}
</ul>

<pre id="js" class="well">
Waiting for Javascript...
</pre>
<script>
$(function() {
	var js = new JS();
	$("div.histogram").each(function() {
		var similarity = js.parseJSON($(this).find("pre.json"));
		js.buildHeat(similarity);
		js.histogram($(this), similarity, 400, 80);
	});
});
</script>

{% endblock %}
