{% extends 'base.html' %}
{% block content %}
{% load bootstrap %}

<form method="post" class="well">
	<h4>Exercise description</h4>
	{% csrf_token %}
	{{ form|bootstrap }}
	<button type="submit" name="save" class="btn btn-primary">Save</button>
</form>

<form method="post" class="well">
	<h4>Exercise tokenizer and matcher</h4>
	<div class="alert alert-warning">
		<p>Changing these settings will overwrite the current exercise template with the template in the text field, clear all existing matches for this exercise, and recompare all submissions to this exercise.
        It will not clear the tokenized submissions strings.
        The amount of time required will increase proportional to n squared, where n is the amount of submissions.
        </p>
	</div>
	{% csrf_token %}
	{{ form_tokenizer|bootstrap }}
	{% if template_source_error %}
		<div class="alert alert-danger">
			<p>The exercise has a tokenized template: <code>{{ template_tokens }}</code>, but the exercise template source could not be retrieved from the provider service.</p>
		</div>
	{% endif %}
	<button type="submit" name="save_and_clear" class="btn btn-warning">Clear and re-compare</button>
</form>

{% if provider_reload %}
<form method="post" class="well">
	<h4>Exercise provider</h4>
	<div class="alert alert-warning">
		<p>This function will clear all current comparisons and submissions from the database.
		The submissions will be gradually reloaded from the provider and then tokenized and matched.
		The amount of time required is a bit more than in "Clear and re-compare", since all submissions are first loaded from the provider API, tokenized from scratch, and then compared.</p>
	</div>
	{% csrf_token %}
	<button type="submit" name="provider_reload" class="btn btn-warning">Clear and reload</button>
</form>
{% endif %}

<form method="post" class="well">
	<div class="alert alert-danger">
		<p>Delete exercise from Radar. Also deletes all submissions and comparisons related to this exercise.</p>
	</div>
	{% csrf_token %}
	<button type="submit" name="delete_exercise" class="btn btn-danger">Delete</button>
</form>


{% endblock %}
