{% extends 'base.html' %}
{% block content %}

<h4>
    {{ exercise.name }}
    <a href="{% url 'exercise_settings' course_key=exercise.course.key exercise_key=exercise.key %}" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-wrench"></span> Settings
    </a>
</h4>

<div class="dolos-button">
	<a href="{% url 'dolos' course_key=exercise.course.key exercise_key=exercise.key %}" class="btn btn-default btn-xl"}">
		View in Dolos
	</a>

	<div class="dolos-progress-parent">
		<div class="dolos-progress"></div>
		<div class="dolos-progress-text">Preparing files...</div>
	</div>
</div>

<p class="dolos-description">
	Dolos is a modern similarity detection tool for source code. Opening this exercise in Dolos will redirect you to an Aalto hosted version of Dolos. This feature is still in its early stages, so some issues might occur.
</p>

<h4>Similarity distribution of matches</h4>
<div class="histogram"></div>

<pre id="similarity" class="json">{{ exercise.submissions_max_similarity_json }}</pre>

<h4>Comparison pairs with highest similarity</h4>
<a href="{% url 'exercise' course_key=exercise.course.key exercise_key=exercise.key %}?rows=100" class="btn btn-default btn-xs"}">
    Show 100 rows
</a>
{% include 'review/_comparisontable_unique.html' %}

<pre id="js" class="well">
Waiting for Javascript...
</pre>
<script>
$(function() {
	var js = new JS();
	var similarity = js.parseJSON($('#similarity'));
	js.buildHeat(similarity);
	js.histogram($('div.histogram'), similarity, 600, 80);
	js.applyHeat($('table.comparison'));
});

document.addEventListener('DOMContentLoaded', function() {
	const dolosButton = document.querySelector('.dolos-button');
	const viewInDolosButton = dolosButton.querySelector('a');
	const dolosProgressParent = dolosButton.querySelector('.dolos-progress-parent');

	viewInDolosButton.addEventListener('click', function() {
	  dolosProgressParent.style.display = 'block';
	});

	// Hide dolos-progress-parent initially
	dolosProgressParent.style.display = 'none';
});
</script>

{% endblock %}
