{% extends 'base.html' %}
{% block content %}

<h4>
    {{ exercise.name }}
    <a href="{% url 'exercise_settings' course_key=exercise.course.key exercise_key=exercise.key %}" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-wrench"></span> Settings
    </a>
</h4>
<h4>Similarity distribution of matches</h4>
<div class="histogram"></div>

<pre id="similarity" class="json">{{ exercise.submissions_max_similarity_json }}</pre>

<h4>Comparison pairs with highest similarity</h4>
{% include 'review/_comparisontable.html' %}

<pre id="js" class="well">
Waiting for Javascript...
</pre>
<script>
$(function() {
	var js = new JS();
	var similarity = js.parseJSON($('#similarity'));
	js.buildHeat(similarity);
	js.histogram($('div.histogram'), similarity, 600, 80);
	js.applyHeat($('table.comparison'));
});
</script>

<h4>Watermarks</h4>

{% include 'review/_watermarktable.html' %}

{% endblock %}
