{% extends 'base.html' %}
{% block content %}

<pre hidden id="graph-json">{{ graph.graph_json }}</pre>

{% if graph.is_empty %}
<div class="alert alert-warning">
  <p>No matching pairs with a similarity of at least {{ graph.min_similarity }} found.</p>
</div>
{% else %}

<div class="graph-ui">
  <dl>
    <dt>Nodes</dt>
    <dd>Students, unique by student number</dd>
    <dt>Edges</dt>
    <dd>An edge between two nodes represents the existence of at least one pair of submissions that have a similarity of at least {{ graph.min_similarity }}. Edge weights represent the amount of such pairs.</dd>
  </dl>
{% comment %}
TODO align buttons and the input into one nice toolbar
{% endcomment %}
  <div class="slidecontainer">
    <b>Minimum similarity</b>
    <input type="range" class="slider" id="min-similarity-range"
           value="0.95" min="0" max="1" step="0.01">
    <p id="min-similarity-range-value">0.95</p>
  </div>
  <button id="build-graph-button" type="button" class="btn btn-outline-warning"
          autocomplete="off">
    Rebuild the graph from database
  </button>
  <button id="shuffle-layout-button" type="button" class="btn btn-outline-primary"
          autocomplete="off">
    Refresh and shuffle graph layout
  </button>
  <button id="toggle-forceatlas-button" type="button" class="btn btn-outline-primary"
          data-toggle="button" aria-pressed="false" autocomplete="off">
    Toggle Force Atlas 2 algorithm
  </button>
</div>

{% if graph.is_empty %}
<div class="alert alert-warning">
  <p>No matching pairs with a similarity of at least {{ graph.min_similarity }} found.</p>
</div>
{% endif %}


<div id="graph-container"></div>

<script>
$(function() {
  const shuffleLayoutButton = $("#shuffle-layout-button");
  const forceAtlasButton = $("#toggle-forceatlas-button");
  const buildGraphButton = $("#build-graph-button");
  const minSimilaritySlider = $("#min-similarity-range");
  const minSimilaritySliderValue = $("#min-similarity-range-value");

  function getSliderValue() { return parseFloat(minSimilaritySlider.val()); };

  const js = new JS();
  const s = js.drawGraph(js.parseJSON($("#graph-json")));

  shuffleLayoutButton.on("click", _ => {
    shuffleGraphLayout(s);
    if (forceAtlasButton.hasClass("active")) {
      // shuffleGraphLayout kills force atlas, fix inconsistent visual state
      forceAtlasButton.button("toggle");
    }
  });
  forceAtlasButton.on("click", _ => {
    if (!s.isForceAtlas2Running()) {
      s.startForceAtlas2(forceAtlasConfig);
    } else {
      s.stopForceAtlas2();
    }
  });
  buildGraphButton.on("click", _ => {
    s.killForceAtlas2();
  });
  minSimilaritySlider.on("change", _ => {
    const newMinSize = getSliderValue();
    applyMinEdgeSizeFilter(newMinSize);
    applyDisconnectedNodesFilter();
    minSimilaritySliderValue.text(newMinSize);
  });

  s.startForceAtlas2(forceAtlasConfig);
  let timeoutID = window.setTimeout(_ => {
    sigmaObject.stopForceAtlas2();
    window.clearTimeout(timeoutID);
    [shuffleLayoutButton, forceAtlasButton].forEach(button => {
      button.attr("disabled", false);
    });
  }, 2000);

});
</script>

{% endblock %}
