{% extends 'base.html' %}
{% block content %}

<pre hidden id="graph-json">{{ graph.graph_json }}</pre>

{% if not graph.graph_json %}
<div class="alert alert-warning">
  <p>No matching pairs with a similarity of at least {{ graph.min_similarity }} found.</p>
</div>
{% else %}

<div class="graph-ui">
  <dl>
    <dt>Nodes</dt>
    <dd>Students, unique by student number</dd>
    <dt>Edges</dt>
    <dd>An edge between two nodes represents the existence of at least one pair of submissions that have a similarity of at least {{ graph.min_similarity }}. Edge weights represent the amount of such pairs.</dd>
  </dl>
{% comment %}
TODO align buttons and the input into one nice toolbar
{% endcomment %}
  <div class="slidecontainer">
    <b>Minimum match count</b>
    <input type="range" class="slider" id="min-match-count-range"
           value="5" min="1" max="20" step="1">
    <p id="min-match-count-range-value">5</p>
  </div>
  <button id="build-graph-button" type="button" class="btn btn-outline-warning"
          autocomplete="off">
    Invalidate graph cache and rebuild graph
  </button>
  <button id="shuffle-layout-button" type="button" class="btn btn-outline-primary"
          autocomplete="off">
    Refresh and shuffle graph layout
  </button>
  <button id="toggle-forceatlas-button" type="button" class="btn btn-outline-primary"
          data-toggle="button" aria-pressed="false" autocomplete="off">
    Toggle Force Atlas 2 algorithm
  </button>
</div>

{% if graph.is_empty %}
<div class="alert alert-warning">
  <p>No matching pairs with a similarity of at least {{ graph.min_similarity }} found.</p>
</div>
{% else %}
<div id="pair-comparisons-summary-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endif %}

<div id="graph-container"></div>

<script src="/static/graph/graph.js"></script>

{% endblock %}
