{% extends request.session.legacy_radar|yesno:"base.html,base_dolos.html" %}
{% block content %}

<p>
    <a href="/cheatersheet" role="button" class="btn btn-default secondary">
		<span class="glyphicon glyphicon-new-window"></span> Go to CheaterSheet
    </a>
</p>

<table class="table">
	<tr>
		<th>Course</th>
		<th>Added</th>
		<th>Exercises</th>
		<th>Students</th>
		<th>Submissions</th>
	</tr>
	{% for course in courses %}
	<tr>
		<td>
			<a href="{% url 'course' course_key=course.key %}">
                {{ course.name }} ({{ course.key }})
			</a>
		</td>
		<td>{{ course.created|date:"Y-m-d" }}</td>
		<td>{{ course.home_exercise_count }}</td>
		<td>{{ course.home_student_count }}</td>
		<td>{{ course.home_submission_count }} ({{ course.home_matched_count }} matched)</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
