{% extends 'base.html' %}
{% block content %}

<table class="table">
	<tr>
		<th>Course</th>
		<th>Added</th>
		<th>Exercises</th>
		<th>Students</th>
		<th>Submissions</th>
	</tr>
	{% for course in courses %}
	<tr>
		<td>
			<a href="{% url 'course' course_key=course.key %}">
                {{ course.name }} ({{ course.key }})
			</a>
		</td>
		<td>{{ course.created|date:"Y-m-d" }}</td>
		<td>{{ course.exercises.count }}</td>
		<td>{{ course.students.count }}</td>
		<td>{{ course.submissions.count }} ({{ course.matched_submissions.count }} matched)</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
