{% extends 'base.html' %}
{% load review %}
{% block content %}

<table class="comparison">
  <tr>
    <th>Suspect</th>
    <th>Sum</th>
  </tr>
	{% for suspect in suspects %}
	<tr>
		<td><h4>{{ suspect.key }}</h4></td>
    <td>{{ suspect.sum }}</td>
    {% for comparison in suspect.comparisons %}
		<td>
			<a href="{% url 'review.views.exercise' course_key=course.key exercise_key=comparison.submission_a.exercise.key %}">
				<strong class="key">{{ comparison.submission_a.exercise.name }}</strong>
				<small>{{ comparison.submission_a.exercise.created|date:"d.m." }}</small>
			</a>
		</td>
    {% if comparison.submission_a.student.key == suspect.key %}
    {% student_td course comparison True %}
    {% else %}
    {% student_td course comparison %}
    {% endif %}
    {% endfor %}
	</tr>
	{% endfor %}
</table>

{% endblock %}
