{% extends 'base.html' %}
{% load review %}
{% block content %}

<table class="comparison">
	<tr>
		<th>Review</th>
		<th>Exercise</th>
		<th colspan="2">Students</th>
	</tr>
	{% for comparison in comparisons %}
	<tr>
		<td>
			{{ comparison.review_name }}
		</td>
		<td>
			<a href="{% url 'review.views.exercise' course_key=course.key exercise_key=comparison.submission_a.exercise.key %}">
				<strong class="key">{{ comparison.submission_a.exercise.name }}</strong>
				<small>{{ comparison.submission_a.exercise.created|date:"d.m." }}</small>
			</a>
		</td>
		{% student_td course comparison %}
		{% student_td course comparison True %}
	</tr>
	{% endfor %}
</table>

{% endblock %}
