{% extends 'base.html' %}
{% load review %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />
{% endblock %}
{% block content %}
<h2>Students View</h2>
<p>Green rows are staff members.</p>
<input type="checkbox" id="show_staff" checked> Show staff members <br>
<script>

</script>
<div>
    <table class="table" id="studentdatatable">
        <thead>
            <tr>
                <th>Student</th>
                <th>Average of highest similarity scores</th>
                <th>Highest similarity score</th>
            </tr>
        </thead>
        <tbody>
                {% for submission in submissions %}
                <tr {% if submission.student__is_staff %} class="is_staff" {% endif %}>
					<td {% if submission.student__is_staff %} style="background-color: lightgreen;"{% endif %}>
						<a href="{% url 'student_view' course_key=course.key student_key=submission.student__key %}">{{ submission.student__key }}</a>
					</td>
                    <td {% if submission.student__is_staff %} style="background-color: lightgreen;"{% endif %}>
						{{ submission.max_avg|percent }}
					</td>
                    <td {% if submission.student__is_staff %} style="background-color: lightgreen;"{% endif %}>
						{{ submission.max|percent }}
					</td>
                </tr>
                {% endfor %}
        <tfoot>
            <tr>
                <th>Student</th>
                <th>Average similarity score</th>
                <th>Highest similarity score</th>
            </tr>
        </tfoot>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src=//cdn.datatables.net/2.2.2/js/dataTables.min.js></script>
<script src="https://cdn.datatables.net/plug-ins/2.2.2/sorting/natural.min.js"></script>
<script>
    $(document).ready( function () {
        $('#studentdatatable').DataTable( {
            lengthMenu: [ [-1, 10, 25, 100], ["All", 10, 25, 100] ],
			columnDefs: [
				{ type: 'natural', target: 0 },
				{ className: 'dt-left', targets: '_all' },
			]
        } );

		//On reload, check if the checkbox is checked and show staff members if it is
		if ($('#show_staff').is(':checked')) {
			$('.is_staff').show();
		} else {
			$('.is_staff').hide();
		}

		//Show or hide staff members based on the checkbox
		$('#show_staff').change(function() {
			if (this.checked) {
				$('.is_staff').show();
			} else {
				$('.is_staff').hide();
			}
		});
    });
</script>
{% endblock %}
