{% extends 'base.html' %}
{% load review %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
{% endblock %}
{% block content %}
<h2>Students View</h2>
<div>
    <table class="table" id="studentdatatable">
        <thead>
            <tr>
                <th>Student</th>
                <th>Average of highest similarity scores</th>
                <th>Highest similarity score</th>
            </tr>
        </thead>
        <tbody>
                {% for submission in submissions %}
                <tr>
                    <td><a href="{% url 'student_view' course_key=course.key student_key=submission.student__key %}">{{ submission.student__key }}</a></td>
                    <td>{{ submission.max_avg|percent }}</td>
                    <td>{{ submission.max|percent }}</td>
                </tr>
                {% endfor %}
        <tfoot>
            <tr>
                <th>Student</th>
                <th>Average similarity score</th>
                <th>Highest similarity score</th>
            </tr>
        </tfoot>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src=//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js></script>
<script>
    $(document).ready( function () {
        $('#studentdatatable').DataTable( {
            "lengthMenu": [ [-1, 10, 25, 100], ["All", 10, 25, 100] ]
        } );
    } );
</script>
{% endblock %}
