{% extends 'base.html' %}

{% load review %}
{% load static %}

{% block head_includes %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/2.2.2/sorting/natural.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/2.2.2/sorting/absolute.min.js"></script>
<script src="//cdn.datatables.net/fixedcolumns/5.0.4/js/dataTables.fixedColumns.min.js"></script>
<script src="{% static '/views/students_view.js' %}"></script>
{% endblock head_includes %}

{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/fixedcolumns/5.0.4/css/fixedColumns.dataTables.min.css">
{% endblock %}

{% block content %}

<h2>Students View</h2>

<h4><b>Notes</b></h4>
Highest similarity score refers to the highest similarity score of a student submission(s) to any other submission in the same exercise. <br>
Average of highest similarity scores shows the average across all exercises. <br>
The exercise columns show the average of highest similarity score for each exercise. In case of multiple submissions in an exercise, their average is taken. <br>
<p>Green rows are staff members.</p>

<input type="checkbox" id="show_staff" checked> <b>Show staff members</b> <br>

<div>
	<h3>Hide exercises</h3>
	<button id="show_all_exercises">Show All</button>
	<button id="hide_all_exercises">Hide All</button>
</div>
<div>
	<ol id="list_of_exercises">
		{% for exercise_name in exercises.values %}
			<li>
				<input type="checkbox" id="show_{{ exercise_name|keep_letters_numbers }}" checked> {{ exercise_name }} <br>
			</li>
		{% endfor %}
	</ol>
</div>

<div>
    <table class="table colour-rows" id="studentdatatable">
        <thead>
            <tr>
                <th>Student</th>
				<th>Average of highest similarity scores</th>
				{% for exercise_id, exercise_name in exercises.items %}
					<th class="{{ exercise_name|keep_letters_numbers }}_column exercise_name">
						<a href="{{ hierarchy.1.1 }}{{ exercise_id }}/">{{ exercise_name }}</a>
					</th>
				{% endfor %}
            </tr>
        </thead>
        <tbody>
			{% for student in students %}
				<tr {% if student.is_staff %} class="is_staff" {% endif %}>
					<td {% if student.is_staff %} style="background-color: lightgreen;"{% endif %}>
						<a href="{% url 'student_view' course_key=course.key student_key=student.key %}">{{ student.key }}</a>
					</td>
					<td {% if student.is_staff %} style="background-color: lightgreen;"{% endif %}>
						{{ student.avg_similarity|percent }}
					</td>
					{% for exercise in student.exercises %}
						<td data-order="{{ exercise.1 }}" class="{{ exercise.0|keep_letters_numbers }}_column" {% if student.is_staff %} style="background-color: lightgreen;"{% endif %}>
							{{ exercise.1|percent }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
        <tfoot>
            <tr>
                <th>Student</th>
				<th>Average of highest similarity scores</th>
				{% for exercise_name in exercises.values %}
					<th class="{{ exercise_name|keep_letters_numbers }}_column">{{ exercise_name }}</th>
				{% endfor %}
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
