db.sqlite3
local_settings.py
submission_files
celerybeat-schedule
node_modules
radar/secret_key.py
static_root
py_venv

.project
.pydevproject
.settings
.DS_Store
.hypothesis

**/CMake*
**/cmake*
Makefile
!CMakeLists.txt
compile_commands.json

tokenizer/scalariform/target/
tokenizer/scalariform/project/target/
tokenizer/scalariform/project/project/target/

**/bin
*.a
*.swp
*~
__pycache__
*.pyc
*.pdf
