Django==2.0
celery==4.1.1
django-bootstrap-form==3.2.1
oauthlib==2.0.1
requests==2.13.0
git+https://github.com/Aalto-LeTech/django-lti-login.git@master#egg=django-lti-login
cachetools==2.0.1
git+https://github.com/raphendyr/raphendyr-django-essentials.git@1.2.1
