[Unit]
Description=A uWSGI Python Web Server for Radar

[Service]
User=radar
Group=radar
SyslogIdentifier=radar
WorkingDirectory=/srv/radar/radar/
ExecStart=/srv/radar/venv/bin/uwsgi --ini /srv/radar/uwsgi-radar.ini
ExecReload=/bin/sh -c "echo c > /run/radar/web-uwsgi.master"
Restart=always
KillSignal=SIGQUIT
Type=notify

[Install]
WantedBy=multi-user.target
