[Unit]
Description=Radar Celery long running tasks service
PartOf=nginx.service
Requires=radar-web-uwsgi.service

[Service]
User=radar
Group=radar
SyslogIdentifier=radar_celery_db
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/srv/radar/radar
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/opt/bin:/srv/radar/venv/bin"
ExecStart=/srv/radar/venv/bin/celery \
    --app radar \
    worker \
    --pidfile=/run/radar/celery_db.pid \
    -P threads \
    --loglevel=info \
    --concurrency 100 \
    --queues db \
    --hostname worker_db@radar
PIDFile=/run/radar/celery_db.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Nice=1

[Install]
WantedBy=multi-user.target
