[Unit]
Description=Radar Celery main service
PartOf=nginx.service
Requires=radar-web-uwsgi.service

[Service]
User=radar
Group=radar
SyslogIdentifier=radar_celery_main
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/srv/radar/radar
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/opt/bin:/srv/radar/venv/bin"
ExecStart=/srv/radar/venv/bin/celery worker \
    --pidfile=/run/radar/celery_main.pid \
    --loglevel=info \
    --concurrency 1 \
    --app radar \
    --queues celery \
    --hostname worker_main@radar
PIDFile=/run/radar/celery_main.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Nice=1

[Install]
WantedBy=multi-user.target
