[Unit]
Description=Radar Celery service for consuming matchlib tasks
PartOf=nginx.service
Requires=radar-web-uwsgi.service

[Service]
User=radar
Group=radar
SyslogIdentifier=radar_celery_matcher
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/srv/radar/radar
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/opt/bin:/srv/radar/venv/bin"
ExecStart=/srv/radar/venv/bin/celery \
    --app radar \
    worker \
    --pidfile=/run/radar/celery_matcher.pid \
    -P threads \
    --loglevel=info \
    --concurrency 1 \
    --hostname worker_matcher@radar \
    --queues gst_matchlib_tasks_local
PIDFile=/run/radar/celery_matcher.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Nice=1

[Install]
WantedBy=multi-user.target
