
div.content > * + * { margin-top: 1em; }
div.content > .pull-right + * { margin-top:0; }

pre.json { display:none; }

header ul.breadcrumb { margin:7px 0; }

form.well { max-width:50em; margin-left:auto; margin-right:auto; }
form.well h4 { margin:0 0 15px 0; color:#777; }

li.paused, tr.paused { opacity: 0.4; }

/* The heat */
.heat-1 { background-color:#e96e5c !important; fill:#e96e5c !important; }
.heat-2 { background-color:#fdbb83 !important; fill:#fdbb83 !important; }
.heat-3 { background-color:#fee8c8 !important; fill:#fee8c8 !important; }

/* Comparison table */
table.comparison td { border:1px solid grey; line-height:1em; }
table.comparison td a { display:block; padding:0.1em 0.3em; color:inherit; text-decoration:none; }
table.comparison td a:hover, table.comparison td.selected a { background-color:#333; color:white; }
table.comparison td .similarity { font-style:oblique; }
table.comparison td small { display:block; font-size:x-small; white-space:nowrap; }
table.comparison td.success { background-color:transparent !important; }
table.comparison .glyphicon { text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }

/* Batch config table */
table.batch-config textarea { height: auto; }

/* Course histograms */
ul.course-histograms {
  list-style: none;
  padding-left: 0;
}

/* Histogram */
.histogram { margin:0 0 1em 0; }
.histogram .bar { fill:#ccc; shape-rendering:crispEdges; }
.histogram .bar text { fill:#000; }
.histogram .axis path, .axis line { fill:none; stroke:#000; shape-rendering:crispEdges; }

/* Code */
.code-comparison { clear:both; overflow:hidden; }
.code-comparison a.provider { display:block; width:50%; float:left; }
pre.code-view {
	display:block;
	max-width:50%;
	min-width:370px;
	height:50em;
	overflow-y:scroll;
	word-wrap:break-word;
	float:left;
	position:relative;
}
.source { background-color:#fff; }
.source a { color:#333; text-decoration:none; }
.source a.template { background-color:#f8f8f8; }
.source a.match { background-color:#ffff99; }
.source a.match.current { background-color:#ffcc66; }
.source a.match.exact { background-color:#ff9966; }
.source a.match.exact.current { background-color:#ff6600; }
pre.sample-highlight { display:inline-block; }
#review button { width:13em; }

/* Align description detail content with pre-tag content in description terms */
.highlighting-legend dl.dl-horizontal dd {
	padding-top: 6.5px;
}

.graph-ui input {
  max-width: 300px;
}

#graph-container {
  min-width: 300px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#pair-comparisons-summary-modal .modal-body ul>li>ul {
    list-style: none;
    padding-left: 0;
}
