
div.content > * + * { margin-top: 1em; }
div.content > .pull-right + * { margin-top:0; }

pre.json { display:none; }

header ul.breadcrumb { margin:7px 0; }

form.well,
.messages-success,
.messages-failure,
.data-fetch {
    margin-left: auto;
    margin-right: auto;
}
form.well h4,
.messages-success h4,
.messages-failure h4,
.data-fetch h4 {
    margin:0 0 15px 0;
    color:#777;
}

li.paused, tr.paused { opacity: 0.4; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f1f1f1;
  padding: 5px 0;
  border-top: 1px solid #e7e7e7;
  font-weight: bold;
}

/* The heat */
.heat-1 { background-color:#e96e5c !important; fill:#e96e5c !important; }
.heat-2 { background-color:#fdbb83 !important; fill:#fdbb83 !important; }
.heat-3 { background-color:#fee8c8 !important; fill:#fee8c8 !important; }

/* Comparison table */
table.comparison td { border:1px solid grey; line-height:1em; }
table.comparison td a { display:block; padding:0.1em 0.3em; color:inherit; text-decoration:none; }
table.comparison td a:hover, table.comparison td.selected a { background-color:#333; color:white; }
table.comparison td .similarity { font-style:oblique; }
table.comparison td small { display:block; font-size:x-small; white-space:nowrap; }
table.comparison td.success { background-color:transparent !important; }
table.comparison .glyphicon { text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }

/* Comparison Grid */
.comparison-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border: 1px solid grey;
}

.comparison-grid .grid-item {
  border: 1px solid grey;
  padding: 0.1em 0.3em;
  line-height: 1em;
  display: flex;
  flex-direction: column;
}

.comparison-grid .grid-item a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.comparison-grid .grid-item a:hover,
.comparison-grid .grid-item.selected a {
  background-color: #333;
  color: white;
}

.comparison-grid .grid-item .similarity {
  font-style: oblique;
}

.comparison-grid .grid-item small {
  font-size: x-small;
  white-space: break-word;
}

.comparison-grid .grid-item .success {
  background-color: transparent !important;
}

.comparison-grid .glyphicon {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* Course histograms */
ul.course-histograms {
  list-style: none;
  padding-left: 0;
}

/* Histogram */
.histogram { margin:0 0 1em 0; }
.histogram .bar { fill:#ccc; shape-rendering:crispEdges; }
.histogram .bar text { fill:#000; }
.histogram .axis path, .axis line { fill:none; stroke:#000; shape-rendering:crispEdges; }

/* Code */
.code-comparison { clear:both; overflow:hidden; }
.code-comparison a.provider { display:block; width:50%; float:left; }
pre.code-view {
	display:block;
	max-width:50%;
	min-width:370px;
	height:50em;
	overflow-y:scroll;
	word-wrap:break-word;
	float:left;
	position:relative;
}
.source { background-color:#fff; }
.source a { color:#333; text-decoration:none; }
.source a.template { background-color:#f8f8f8; }
.source a.match { background-color:#ffff99; }
.source a.match.current { background-color:#ffcc66; }
.source a.match.exact { background-color:#ff9966; }
.source a.match.exact.current { background-color:#ff6600; }
pre.sample-highlight { display:inline-block; }
#review button { width:13em; }

/* Align description detail content with pre-tag content in description terms */
.highlighting-legend dl.dl-horizontal dd {
	padding-top: 6.5px;
}

.graph-ui input {
  max-width: 300px;
}

#network-graph{
  min-width: 300px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#network-graph-legend {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	border: 1px solid #ccc;
  border-radius: 5px;
	margin-bottom: 14px;
}

.checkbox-container {
	margin-bottom: 14px;
}

#pair-comparisons-summary-modal .modal-body ul>li>ul {
    list-style: none;
    padding-left: 0;
}

.progress {
    margin-top: 20px;
    margin-bottom: 20px;
}

#execise-config-table {
    margin-top: 4em;
}

.slider-container {
    margin-bottom: 1em;
}

/* Dolos CSS */
@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
}

.dolos-progress {
  width: 12.5px;
  height: 12.5px;
  background-color: #1d7792;
  border-radius: 50%;
  animation: bounce 1s ease-in-out infinite;
}

.dolos-div{
  display: flex;
  align-items: center;
}

.dolos-filter-container{
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  overflow-wrap: break-word;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #f4f4f4;
}

.dolos-button {
  margin-top: 10px;
}

.dolos-progress-parent {
  margin-left: 10px;
}

.dolos-description {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  overflow-wrap: break-word;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #f4f4f4;
}

/* Only needed in pair_view_summary.html */
@media print {
  .ex {
    display: block !important;
  }
  .code-comparison {
    clear:both;
    overflow:visible !important;
  }
  .code-comparison a.provider {
    display:block;
    width:100% !important;
    float:left;
  }
  pre.code-view {
	  display:block;
    max-width:100% !important;
    min-width:50% !important;
    height:max-content !important;
    overflow:visible !important;
    word-wrap:break-word;
    float:none !important;
    position: static !important;
  }
  .source {
    background-color:#fff !important;
  }
  .source a {
    color:#333 !important;
    text-decoration:none !important;
  }
  .source a.template {
    background-color:#f8f8f8 !important;
  }
  .source a.match {
    background-color:#ffff99 !important;
  }
  .source a.match.current {
    background-color:#ffcc66;
  }
  .source a.match.exact {
    background-color:#ff9966 !important;
  }
  .source a.match.exact.current {
    background-color:#ff6600;
  }

  /* Print codes after oneanother (not side-by-side) */
  .float-container {
    width: 100% !important;
    max-width: none !important;
    float: none !important;
    padding: 0;
    margin: 0;
  }
}

/* Students View */
#list_of_exercises, #list_of_students {
	list-style: none;
	padding-bottom: 50px;
}

#list_of_exercises > li, #list_of_students > li {
	display: block;
	width: 20%;
	float:left;
	margin-top: 15px;
}

#dt-length-0 {
	margin-right: 5px;
}

#cluster-button-container {
	margin-top: 14px;
}
