
header ul.breadcrumb { margin:7px 0; }

/*span[data-toggle="tooltip"]::after { content: "*"; }*/

/* Code */
pre.json {
	display:none;
}
pre.codeview {
	display: block;
	width: 48em;
	height: 50em;
	overflow-y: scroll;
	word-wrap: break-word;
	border: 1px solid black;
	float: left;
	position: relative;
}
pre.codeview span.source {
	background: #fff;
}
.hljs a {
	color: #333;
	text-decoration: none;
}
.hljs a.match {
	background: #ffb;
}
.hljs a.compared {
	background: #fcc;
}
.hljs a.current {
	background: #faa;
}

/* Match group */
table.grouptable td {
	white-space: nowrap;
}
table.grouptable td span.tokens {
	font-size:8px;
}
table.grouptable td span.tokens span.match {
	color:red;
}
