
header ul.breadcrumb { margin:7px 0; }

/*span[data-toggle="tooltip"]::after { content: "*"; }*/

/* Code */
pre.json {
	display:none;
}
pre.codeview {
	display: block;
	width: 48em;
	height: 50em;
	overflow-y: scroll;
	word-wrap: break-word;
	border: 1px solid black;
	float: left;
	position: relative;
}
pre.codeview span.source {
	background: #fff;
}
.hljs a {
	color: #333;
}
.hljs a:hover {
	text-decoration: none;
}
.hljs a.match {
	background: yellow;
}
.hljs a.compared {
	background: lightpink;
}
